*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh !important;
  overflow-y: auto !important;
}
.App {
  text-align: center;
}
.background{
  background-color: #f7f9f8;
  width: 100%;
  min-height: 50px;
  margin-top: auto;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav_logo{
  width: 60px;
  height: auto;
  margin-left: 100px;
  
}

.form{
  display: flex !important;
}

.location{
  border: none !important;
  outline: none !important;
  height: 50px !important;
 
}

.select_location{
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  min-width: 150px;
  max-width: 250px;
  flex: 1;
}
.search_icon{
  margin: 10px 5px;
  font-size: 30px !important;
  
  
}
#location{
  border: none;
  outline: none;
  font-size: 18px;
}
.search{
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  width: 750px;
  /* padding: 5px; */
  margin-left: 5px;

}

#item_search{
  height: 50px !important;
  border: none !important;
  outline: none !important;
  width: 100%;
  margin-left: 5px;
  font-size: 18px;
}
.search_icon2{
  padding: 10px;
  height: 22px;
  background-color: black;
  color: white;
  font-size: 60px !important;

}

.logout{
  display: flex;
  flex-direction: row;
}
.chat_icon{
  font-size: 35px !important;
  padding: 5px !important;
  margin-top: 25px;
  margin-left: -30px;
}
.footer{
  background-color: #eaeeef;
  color: #a1a3ab;
 /* margin-bottom: 50px !important; */
}
.login{
  margin-left:5px !important;
  /* margin-top:25px !important; */
  font-size: 18px;
  font-weight: bold !important;
  text-decoration: none !important;
  color: #003034 !important;
  border-bottom: 2px solid #003034 !important;
 
}

.login_container{
  margin-top: 10px !important;
}

.login:hover{
  border-bottom:none !important;
  color: #003034 ;
  cursor: pointer !important;
}
.sell{
  background-color: white ;
  font-size: 16px ;
  font-weight: bold;
  color: #003034;
  border-radius: 50px;
  width: 110px;
  height: 50px;
  outline: none;
  border-top: 7px solid #3fdcd5;
  border-bottom: 7px solid #3d77f5;
  border-left: 7px solid #f8cd45;
  border-right: 7px solid #f8cd45;
  padding: auto;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  box-shadow: 1px 1px 10px black;
}

.sell_link{
  text-decoration: none;
  font-size: 16px ;
  font-weight: bold;
  color: #003034;
}

.login_panel{
  background-color: white;
  width: 100% !important ;
  height: 50px ;
  padding: 10px ;
  color: #003034 ;
  border: 1px solid black ;
  border-radius: 5px;
}
.google_login{
  background-color: white;
  min-width: 32% !important ;
  height: 40px ;
  padding: 10px ;
  color: #003034 ;
  border: 1px solid black ;
  border-radius: 5px;
  outline: none;
}
.banner{
  width: 100%;
  height: auto;
}

.bottom_banner{
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.card{
  border-left:5px solid #ffce32 !important ;
  height: 450px !important;
  width: 260px !important;
  /* margin-right: 15px !important; */
}
.cardImages{
  width: 80% !important;
  height: auto !important;
  margin: 10px 25px !important;
}
.data{
  font-size: 18px !important;
  color: #7a7a7c !important;
}
.address{
  font-size: 14px !important;
  color: #a7a8ad !important;
}
.load_link{
  text-decoration: none;
}
.loadmore_btn{
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  border: 1px solid #4a4a4d !important;
  text-transform: capitalize !important;
  padding: 10px !important;
}
/* Footer */
.footer{
 margin-bottom: -10px !important;
 border-top: 1px solid #4a4a4d !important;
}
.title{
  color: #4a4a4d !important;
  
}
.title_data>a{
  text-decoration: none !important;
  color: #a7a8ad  !important;
}

.follow{
  font-size: 30px;
}

.follow>a{
  text-decoration: none !important;
  color: #a7a8ad  !important;
}
.store{
  display: flex;
  /* margin-right: -5px; */
  margin: 5px 5px !important;
  
}
.play_store{
  width: 100px;
  height: auto;
}

.dark_nav{
  min-height: 50px !important;
}

.other_countries{
  font-weight: bold;
  color: white;
  font-size: 0.75rem;
}
.dark_nav>p{
  margin: 5px 20px;
  color: white;
}

.dark_nav>p>a{
  text-decoration: none !important;
  color: white;
  margin-left: 10px;
}